.wrapper{
    width: 100%;
}
.tabs{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.tab-item{
    padding:10px 25px;
    border-radius: 30px;
    background-color: #E8E8E8;
    margin-right: 20px;
    cursor:pointer;
    margin-bottom: 10px;
    select{
        background-color: transparent;
        font-size: 14px;
        font-weight: 500;
    }
    >span{
        font-size: 14px;
        font-weight: 500;
    }
}
.tab-item:hover{
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
}