.wrapper {
    width: 300px;
    height: 410px;
    border-radius: 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    padding: 6px;
    position: relative;
    cursor: pointer;
    flex: 0 0 auto;
}

.wrapper:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.content {
    width: 100%;
}

.rate {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 10px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 5%;
    right: 5%;
}

.image-product {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    height: 290px;
}

.image-product > img {
    object-fit: cover;
    height: 100%;
}

.info-product {
    display: flex;
    flex-direction: column;
    padding: 0 6px 10px 6px;
}

.btn-like {
    margin-left: auto;
    padding: 6px 12px;
    border-radius: 30px;
    background-color: #E8E8E8;
    border-radius: 20px;
    display: flex;
    align-items: start;
}

@media screen and (max-width: 639px) {
    .wrapper {
        width: 181px;
        height: 340px;
    }

    .image-product {
        height: 200px;
    }
}